body {
  background: url('./media/wall.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.title {
  font-size: 120px;
    color:#E81123;
    font-family: 'Anton', sans-serif;
    font-weight:bold;
}

.title1{
  color:#E81123;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  font-weight:bold;
  padding-bottom:15%
}
.homeMenu{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  top: 200px;
 }

 .buttons{
   display: flex;
   justify-content: space-between
 }

 .homeButton{
  background-color:#E81123 !important;
  height: 40px;
  width: 178px;
 }
 .liste{
  color:#E81123;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  font-weight:bold;
  padding-bottom:5%;
  padding-top:5%;
  text-align: center;
}
.retour{
  display: flex;
    justify-content: center;
}
.bas{display: flex;
  flex-direction: column;
  align-items: center;}
  .prog{
    width:50%;
    padding-bottom: 13px;
  }
  .femmehommebtns{display: flex;
    justify-content: space-around;
    align-items: center;
  padding: 15px;}